*{
    margin: 0;
    padding: 0;
}
.header{
    /* background: gray; */
    padding:10px 5px;
     display: flex;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.logo-parent{
 /* background-color: blue; */
}
.menus-parent{
    /* background: pink; */
}

.menus-list span{
    margin: 0px 5px;
    color: blue;
    /* background-color: red; */
}
