*{
    padding: 0;
    margin: 0;
    font-family: 'Satoshi-Medium';
    font-display: swap;
    src: url('https://lwfiles.mycourse.app/62a6cd5e1e9e2fbf212d608d-public/fonts/0884ea5fc6559060bce41ca3785b0f2d.ttf') format('truetype');
}
.header{
    padding: 5px 5px;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    
    
}
.logo{
    width: 100px;
}
.logo-parent{
    /* background-color: blue; */
}
.menus-parent{
    /* background-color: pink ; */
}
.menus span{
    margin: 0px 5px;
}
.menus span:hover{
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
.section{
    display: flex;
    align-items: center;
    /* background-color: grey; */
    padding: 50px 0px;
}
.abhay{
    /* background-color: purple; */
    padding: 0px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
}
.guru{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.info{
    /* background-color: chocolate; */
    margin: 5px;
    height: 20%;
}
p{
    padding: 5px 0px;
    font-size: 30px;
}
.info2{
    /* background-color: yellow; */
    
}
.info3{
    background-color: #364BC5;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;

}
.guruimage{
    width: 50%;

}
.feature{
    background-color: #364BC5;
    padding: 40px 10px;
}
.fparent{
    justify-content: center;
    display: flex;
    /* background-color: green; */
    padding: 20px 0px;
}
.fparent .f1, .f2, .f3{
    color: white;
    font-weight: 800;
    margin: 2px 35px;
    padding: 10px 20px;
}
/* 
.f1{
    background-color: purple;
    padding: 10px 20px;
}
.f2{
    background-color: rgb(128, 0, 32);
    padding: 10px 20px;
}
.f3{
    background-color: rgb(0, 64, 128);
    padding: 10px 20px;
} */




